@model MockUserAdmin.Models.UserViewModel

@{
    ViewBag.Title = "Index";
}
<div>
@if(ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
<h2>Users</h2>
    <table>
        <tr>
            <th>Email Address</th><th>Password</th><th>FirstName</th><th>LastName</th>
        </tr>
        @foreach (MockUserAdmin.Models.SysUser user in Model.sysUsers)
        {
        <tr>
            <td>@user.EmailAddress</td>
            <td>@user.Password</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
        </tr>    
        }
    </table>


@Html.ActionLink("Add User", "UserForm");
</div>